@use "sass:color";

body {
  border-left: 2px solid #fcf;
}

@for $i from 1 through 4 {
  div:nth-of-type(#{$i}) {
    margin-left: #{$i * 10px};
    margin-top: 10px;
    color: hsl(360deg * ($i + 5) / 10, 90%, 60%);
  }
}
